
.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.off-screen {
  position: absolute;
  border: 1px solid black;
  width: 25vw;
  height: 50vh;
  left: -50vw;
  z-index: 100;
}

.sidebar {
  position: absolute;
  border: 1px solid black;
  width: 25vw;
  height: 50vh;
  z-index: 100;
  background-color: #ffffff;
}

.menu {
  transition: 3s;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
}

.home {
  display: grid
}

.map {
  position: absolute;
  right: 0px
}

.menuToggle {

}

.chatbot {
  position: absolute;
  right: 0px;
  ;
}


.individual-station {
  /* position: absolute; */
  /* left: 0px; */
  /* width: 250px; */
  /* height: 400px */
}